
.border {
    border-bottom: 1px solid black;
    height: 150px;
    max-width: 80%;
    padding: 0;
    margin: 15px auto 0 auto;
}

.conteiner {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: nowrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.items {
    display: flex;
    justify-content: center;
    width: 18%;
    align-items: center;
}

.items:hover {
    opacity: 40%;
}

.camel {
    height: 100px;
}

.cater {
    height: 120px;
}

.boer {
    height: 150px;
}

.stan {
    height: 120px;
}

@media only screen and (max-width: 1050px) {

    .border {
        height: 150px;
        max-width: 80%;
        margin: 15px auto 0 auto;
    }

    .camel {
        height: 80px;
    }
    
    .cater {
        height: 90px;
    }
    
    .boer {
        height: 110px;
    }
    
    .stan {
        height: 90px;
    }
}

@media only screen and (max-width: 830px) {
    .conteiner {
        gap: 14px;
    }

    .camel {
        height: 60px;
    }
    
    .cater {
        height: 70px;
    }
    
    .boer {
        height: 90px;
    }
    
    .stan {
        height: 80px;
    }
}

@media only screen and (max-width: 650px) {
    .conteiner {
        gap: 10px;
    }

    .camel {
        height: 40px;
    }
    
    .cater {
        height: 60px;
    }
    
    .boer {
        height: 70px;
    }
    
    .stan {
        height: 60px;
    }
}

@media only screen and (max-width: 500px) {
    .conteiner {
        gap: 8px;
    }

    .camel {
        height: 30px;
    }
    
    .cater {
        height: 50px;
    }
    
    .boer {
        height: 65px;
    }
    
    .stan {
        height: 55px;
    }

}