
.container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-image: url("./images/Background.jpg");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    resize: both;
}

.catalog {
    display: grid;
    width: 80%;
    height: 100%;
    min-width: 420px;
    background-color: rgb(255, 255, 255);
}

/* AboutUs */

.conteinerAboutUs {
    height: 400px;
}

.titleAboutUs {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    padding-top: 30px;
    font-family: "Keania One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    text-decoration: 3px underline rgb(36, 36, 36);
}

.contenidoAboutUs {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 60px;
    font-family: "Keania One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
}

/* Catalogo */

.conteiner-titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 5%;
}

.tituloCatalogo {
    font-family: "Keania One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    text-decoration: 3px underline rgb(36, 36, 36);
}

.conteiner-frase {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.frase {
    font-family: "Keania One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}

/*    Productos / CARDS    */

.conteinerProducts {
    height: 4250px;
}

.tituloCategorias1 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: "Keania One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    text-decoration: underline rgb(36, 36, 36);
}

.tituloCategorias2 {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20%;
    font-family: "Keania One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    text-decoration: underline rgb(36, 36, 36);
}

.tituloCategorias3 {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    font-family: "Keania One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    text-decoration: underline rgb(36, 36, 36);
}

.gridCards {
    display: grid;
    align-items: center;
    justify-content: center;
    justify-items: center;
    grid-template-columns: repeat(3, minmax(150px, 250px));
    gap: 12%;
}

.bodyCard {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    width: 400px;
    gap: 1em;
    border: solid 1px rgba(128, 128, 128, 0.61);
    background-color: rgba(230, 230, 230, 0.671);
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.479);
}

.imageCard {
    max-height: 60%;
    max-width: 40%;
    border: solid 1px rgba(128, 128, 128, 0.61);
    border-radius: 10px;
}

.infoCard {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 60%;
}

.infoCard h1 {
    font-size: 25px;
}

.title {
    font-size: 18px;
}

.price {
    padding: 5px;
    border: solid 1px rgba(128, 128, 128, 0.61);
    border-radius: 10px;
    background-color: rgba(212, 212, 212, 0.925) ;
    font-size: 20px;
}

@media only screen and (max-width: 1665px) {
    .conteinerProducts {
        height: 3350px;
    }

    .contenidoAboutUs {
        font-size: 30px;
    }

    .bodyCard {
        height: 200px;
        width: 350px;
        gap: 1em;
    }

    .infoCard h1 {
        font-size: 20px;
    }

    .gridCards {
        gap: 10%;
    }

    .title {
        font-size: 16px;
    }

    .price {
        padding: 5px;
        border: solid 1px rgba(128, 128, 128, 0.61);
        border-radius: 10px;
        background-color: rgba(212, 212, 212, 0.925) ;
        font-size: 20px;
    }
}

@media only screen and (max-width: 1565px)  {
    .conteinerProducts {
        height: 10950px;
    }

    .gridCards {
        grid-template-columns: repeat(1, minmax(150px, 250px));
        gap: 3%;
    }

    .tituloCategorias2 {
        margin-top: 48%;
    }

    .tituloCategorias3 {
        margin-top: 25%;
    }

    .bodyCard {
        height: 300px;
        width: 600px;
        gap: 1em;
    }

    .title {
        font-size: 20px;
    }

    .price {
        padding: 5px;
        border: solid 1px rgba(128, 128, 128, 0.61);
        border-radius: 10px;
        background-color: rgba(212, 212, 212, 0.925) ;
        font-size: 30px;
    }
}

@media only screen and (max-width: 1565px) {
    .tituloCategorias2 {
        margin-top: 55%;
    }
}

@media only screen and (max-width: 1150px) {
    .contenidoAboutUs {
        font-size: 28px;
    }
    .conteinerProducts {
        height: 10550px;
    }
    
    .tituloCategorias3 {
        margin-top: 45%;
    }
    .tituloCategorias2 {
        margin-top: 65%;
    }
}

@media only screen and (max-width: 1050px) {

    .conteinerAboutUs {
        height: 10%;
        z-index: 3;
    }

    .titleAboutUs {
        font-size: 35px;
    }

    .contenidoAboutUs {
        font-size: 28px;
    }

    .tituloCatalogo {
        font-size: 40px;
    }

    .frase {
        font-size: 25px;
    }
    .tituloCategorias2 {
        margin-top: 75%;
    }
    .tituloCategorias3{
        margin-top: 15%;
        font-size: 35px;
    }
}

@media only screen and (max-width: 900px) {
    .conteinerProducts {
        height: 6900px;
    }
    .tituloCategorias2 {
        margin-top: 78%;
    }
}

@media only screen and (max-width: 800px) {
    .contenidoAboutUs {
        font-size: 25px;
    }

    .tituloCategorias3 {
        font-size: 30px;
        text-align: center;
    }

    .conteinerProducts {
        height: 5300px;
    }

    .gridCards {
        gap: 3%;
    }

    .infoCard h1 {
        font-size: 20px;
    }
    
    .title {
        font-size: 18px;
    }
    
    .price {
        padding: 5px;
        font-size: 20px;
    }

    .bodyCard {
        justify-content: center ;
        height: 220px;
        width: 400px;
        gap: 0.5em;
    }
}

@media only screen and (max-width: 670px) {
    .contenidoAboutUs {
        font-size: 22px;
    }

    .conteinerProducts {
        height: 5300px;
    }
    .tituloCategorias3 {
        font-size: 28px;
        text-align: center;
    }
    .tituloCategorias2 {
        margin-top: 92%;
    }
}

@media only screen and (max-width: 600px) {
    .conteinerProducts {
        height: 5200px;
    }
}