
.contenedor {
    width: 100%;
    background-color: black;
    padding-bottom: 10%;
}

.titleContact {
    display: flex;
    justify-content: center;
    margin: 0%;
    padding-top: 3%;
    padding-bottom: 4%;
    color: white;
    text-decoration: underline  white;
    font-family: "Keania One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 70px;
}

.cardsContact {
    display: flex;
    justify-content: space-around;
    color: aliceblue;
}

.carta {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2%;
    width: 20%;
    border: 1px solid white;
    border-radius: 10px;
    text-align: center;
}

.carta p {
    margin: 5%;
    font-size: 130%;
}

@media only screen and (max-width: 950px) {
    .carta p {
        font-size: 100%;
    }
}

@media only screen and (max-width: 800px) {
    .titleContact {
        font-size: 60px;
    }

    .carta h1 {
        font-size: 20px;
    }

    .carta p {
        font-size: 80%;
    }
}